.herosection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../assets/hero.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 0 2rem;
    position: relative;
    flex-direction: column;
    justify-content: center;
}

.herosection::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.hero_content {
    z-index: 2;
    margin-bottom: 2rem;
}

.hero_content h1 {
    font-size: 4.3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    line-height: 1.3;
}

.hero_content p {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
    margin-bottom: 2rem;
}


.hero_button {
    z-index: 2;
}

.hero_button button {
    background-color: white;
    color: black;
    font-size: 1.1rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
}

.hero_button button:hover {
    transform: translate(0, -5px);
}

@media screen and (max-width: 768px) {
    .hero_content h1 {
        font-size: 2.5rem;
    }

    .hero_content p {
        font-size: 1rem;
    }

    .hero_button button {
        font-size: 1rem;
        padding: 0.8rem 1.5rem;
    }
}